# Git
.git
.gitignore

# Ambientes virtuais
.venv
venv
pipelines/.venv

# Python
__pycache__
*.py[cod]
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

# IDE
.vscode
.idea

# Logs
logs/*
*.log

# Dados gerados pela pipeline
*.parquet

# Banco analítico gerado
*.duckdb
*.duckdb.wal
*.db

# Sistema operacional
.DS_Store
Thumbs.db

# Documentação e arquivos locais
README.local.md
